<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
    <link rel="stylesheet" href="https://unpkg.com/papercss@1.9.2/dist/paper.min.css">
    <link rel="stylesheet" href="/style.css">
    <title>Kanban board</title>
</head>

<body>
    <header>
        <nav class="border fixed split-nav">
            <div class="nav-brand">
                <h3><a href="/">Kanban board</a></h3>
            </div>
            <div class="collapsible">
                <input id="collapsible1" type="checkbox" name="collapsible1">
                <label for="collapsible1">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </label>
                <div class="collapsible-body">
                    <ul class="inline">
                        <li><a href="/">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="auth">
        <div class="border paper container container-xs">
            <% if (message.length> 0) { %>
                <input class="alert-state" id="alert-5" type="checkbox">
                <div class="alert alert-danger dismissible">
                    <%= message %>
                        <label class="btn-close" for="alert-5">X</label>
                </div>
                <% } %>
                    <form action="/auth/signup" method="post">
                        <input type="text" name="name" id="name" placeholder="Username" required>
                        <input type="email" name="email" id="email" placeholder="Email" required>
                        <input type="password" name="password" id="password" placeholder="Password" required>
                        <button type="submit">signup</button>
                    </form>
        </div>
    </main>
</body>

</html>