:root{
  --text-color: rgb(255, 248, 237);

  --card-bg-color: rgb(32, 33, 57);
  --status-bg-color: rgba(40, 46, 52, 0.118);

  --todo-color: rgba(208, 45, 127, 0.538);
  --wip-color: rgba(59, 107, 238, 0.552);
  --done-color: rgba(15, 191, 182, 0.638);
}

.auth{
  display: flex;
  height: 100vh;
  align-items: center;
}

form{
  display: flex;
  flex-direction: column;
}

input{
  margin-bottom: 0.5rem;
  width: 100%;
  background-color: var(--bg-color);
}

main {
  width: 90%;
  margin: auto;
  margin-top: 1rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 10px;
  /* margin-top: 15px; */
}

.drop-zone{
  height: 100%;
}

section h1 {
  font-size: 1.6rem;
  padding: 10px 0;
  text-align: center;
  margin: auto;
  border-bottom: 2px solid black;
}

section li{
  margin-bottom: 10px;
  padding: 10px 0 10px 20px;
  background-color: var(--text-color);
}

section p{
  font-size: 1.3rem;
}

.team{
  width: 100%;
  display: flex;
  text-align: center;
  gap: 10px;
 position: fixed;
 bottom: 0;
 padding: 5px 20px;
}

.team div{
  display: flex;
  gap: 20px;
}

.team h3{
  font-size: 1.5rem;
  padding: 5px;
}


section .info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

section {
  min-height: 80vh;
}
.board ul{
  padding: 20px;
}

.drop-zone {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.card {
  user-select: none;
}

.todo{
  background-color: var(--todo-color);
}

.wip{
  background-color: var(--wip-color);
}

.done{
  background-color: var(--done-color);
}

/* paper css overrides */
.drop-zone li::before {
  content: none;
  display: none;
  list-style-position: inside;
}